body{
    background-color: rgb(9, 205, 231);
}
.box_position{
    width: 700px;
    height: 700px;
    background-color: rgb(222, 239, 241);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 139px;
    left: 0;
    right: 0;
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(174, 69, 223);
    bottom: 40px;
    right: 60px;
    border: 1px solid rgb(124, 8, 8);
}
.box_3{
    width: 200px;
    height: 200px;
    background-color: rgb(207, 64, 7);
}


