/*execicio2*/
/*Estilizando o body*/
body{
    background-color: rgb(6, 6, 60);
}
/* Caixa principal */
.box_principal{
    width:568px ;
    height:653px;
    background-color: rgb(167, 167, 225);
    position: absolute;
    top: 1%;
    left: 29%;
}
/*Primeiro card*/
.card.card-um{
    width:145px;
    height:201px;
    background-color: rgb(107, 107, 235);
    border: 3px solid rgb(6, 6, 6);
    top: 1%;
    left:29%;
    position: absolute;
}
.content.content-um{
    width:144px;
    height:37px;
    background-color: rgb(59, 73, 232);
    position: absolute;
    top: 0%;
    left: 0%;
}
p.content-um-text{
    position: absolute;
    top: 45%;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 50px;
    height: 20px;
}






