/*Estilizando a página*/
body {
    
background-color: rgb(241, 193, 200);
  font-family: Arial, Helvetica, sans-serif;
   padding: 40px;

}
h1{
        font-size: 24px;

}
p{

  margin-bottom: 15px;

}
.botoes{

  margin-bottom: 25px;

}
.botão-1 {

  background: #e75656;
  color: white;
  border: none;
  padding: 8px 18px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;

}
.botão-2{
    
  background: #e75656;
  color: white;
  border: none;
  padding: 8px 18px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;

}
.botão-3{
    
  background: #e75656;
  color: white;
  border: none;
  padding: 8px 18px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
}
.btn:hover {
    background: #080000;

}
.btn.ativo {
    background: #c56d9d;

}
 
.grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}
/* CARDS RETANGULARES */
.card {

    background: #eda5a5;
    padding: 10px;
    border: 1px solid #eda5a5;

}
/* IMAGENS RETAS */
.card img {

  width: 100%;
  height: 170px;
  object-fit: cover;

}
.card h3 {

  font-size: 15px;
  margin: 8px 0 5px;

}
.card p {

  font-size: 13px;
    color: #f5f0f0;

}
.h3{
    color: white;
}
.h1{
    color: white;
}


 