/*Estilizando a página */
houver{
    background-color: lightcoral;
}
.box_position{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 200px;
    height: 10px;
    background-color: lightblue;
}
body{
    background-color: lightpink;
}
