@charset "utf-8";
/* fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Criando regras para mobile Frist */
/* Regras gerais do site */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/hypnotize.png);
    background-attachment: fixed;
    width:100%;
}
img{
    width: 100%;
}
#topo{
    background-color: rgba(24,56,29,0.9);
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 15px;
}
h1 img{
    margin-top: 25px;
    width: 200px;
}
nav {
    min-height: 40px;
    text-transform: uppercase;
    font-weight: bold ;
    line-height: 40px;
    padding-left: 1%;
   
}
nav a:link, nav a:visited, #iconMenu:link, #iconMenu:visited{
    text-decoration: none;
    color: white;
    transition: 1s;
    min-height: inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav a:focus, nav a:hover, #iconMenu:focus, #iconMenu:hover{
    background-color: #A98E12;
    color: #000;
    transition: background-color 1s;
    border-radius: 5%;
}
#iconMenu{
    color: white;
    cursor: pointer;
    min-height: 40px;
    line-height: 40px;
    padding-left: 1%;
    font-size: 40px;
}

/* Footer/ Rodapé  */

.rodape{
    border-top: solid 5px #06632E;
    background-color: #000;
    color: #7F7F80;
    text-align: center;
    width: 100%;
}

.rodape p, li{
    font-size: 16px;
}
.rodape img{
    margin: 0 5px;
}
.rodape-conteudo{
    padding: 15px;
    color: #fff;
}
.rodape-conteudo li{
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;
}
#logo-rodape{
    min-width: 146px;
    width: 150px;
    margin: 0 auto;
}
.menu-rodape a{
    text-decoration: none;
    color: #7F7F80;
}
.menu-rodape a:hover{
    color: #fff;
}
.redes img{
min-width: 35px;
width: 35px;
}
.assinatura{
    color: #fff;
    background-color: #7F7F80;
    text-align: center;
    height: auto;
    padding: 1%;
}
.assinatura p{
    margin-top: 3%;
}
/* Regras para o conteudo */

.conteudo{
    max-width: 95%;
    margin: auto;
}

.conteudo article{
    background-color: #fff;
    margin: 15px 0;
    padding: 1%;
    box-shadow: grey 1px 1px 5px;
}
.conteudo h2, .conteudo h3, .conteudo p{
    padding: 1%;
}
.titulo{
    font-size: 1.4em;
    color: #ED6D19;
    text-align: center;
    text-transform: uppercase;
}
/* HOME */
.destaque img{
    border-bottom: dotted #ED6D19 5px;
}

.text-destaque{
    position: relative;
    bottom: 100px;
    background-color: rgba(255,255,255,0.8);
    height: 80px;
    margin-top: 5px;
    width: 100%;
}
.text-destaque h2{
    /* O !important friza o efito aplicado, cancelando todos os outros */
    color: #000 !important;
    margin-top: 5px;
    padding: 5px 0 3px 50px;
}
.text-destaque p{
    margin-top: 5px;
    font-size: 1.1em;
    padding: 0 0 5px 50px;
}
#frase{
    color: #fff;
    background-color: #ED6D19;
    text-align: center;
    height: 80px;
}
#frase p{
    font-size: 1em;
    padding: 12px;
}
.card{
    margin: 15px 0;
    padding: 5%;
}
.card p{
text-align: center;
padding: 1% 0 2% 0;
}

.card-conteudo figure{
    margin: 1%;
    position: relative;
    box-sizing: grey 1px 1px 5px;
}
.card-conteudo figcaption{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-color: rgba(127, 127, 128, 0.8);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.card-conteudo figure img{
    transition: 1s;
    filter: opacity(1);
}
.card-conteudo a:hover img,
.card-conteudo a:focus img{
    filter: opacity(0.6);
}
#video{
    width: 100%;
    background-color: rgba(6, 99, 46, 0.5);
    text-align: center;
}
#titulo-video{
    color: #fff;
    padding: 15px;
}
iframe{
    margin: auto;
    max-width: 80%;
    display: block;
    padding: 2% 0;
}
/*página contato*/
#form-contato{
    margin: auto;
    max-width: 700px;
    width: 95%;
}
#form-contato input,#form-contato textarea{
    border: solid 1px grey;
    width: 100%;
    margin: 4px auto;
    border-radius: 10px;

}
#form-contato input{
    height: 30px;

}
#form-contato button{
    border: none;
    padding: 2%;
    background-color: black;
    color: white;
    border-radius: 24px;
}
#form-contato button:hover, #form-contato button:focus{
    background-color: #ED6D19;
    transition: background-color 1s;
    cursor: pointer;
}
.conteudo-info p{
    margin: 5%;
}
.localizacao p{
    text-align: center;
}
#card-pacote{
    background-color: rgba(6, 99, 46, 0.5);
    padding: 10px;
    text-align: center;
}
.car-pacote-info{
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    box-shadow: grey;
    margin:  20px auto;
    max-width: 300px;

}
.pac-fotos, .pac-reserva{
   background-color: #ED6D19;
   color: rgb(128, 38, 0);
   width: 80px;
   border-radius: 5px;
   text-align: center;
   padding: 5px;
   text-transform: uppercase;
   border: none;
}
.pac-flex{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 20px;
}
.pac-fotos:hover, .pac-reserva:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
    border-radius:5% ;
}
.acessorios{
    margin:auto;
    padding: 15px;
}
.produtos img{
    max-width: 100px;
    border: #7F7F80 solid 3px;
    border-radius: 100%;
    box-shadow: grey 1px 1px 5px;

}
.produtos{
    box-shadow: grey 1px 1px 5px;
    text-align: center;
    padding: 20px;
    width: 80%;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}
.produtos h4{
    color: #ED6D19;
    text-transform: uppercase;

}
.comprar{
    text-transform: uppercase;
    background-color: #ED6D19;
    width: 100px;
    height: 20px;
    padding: 3px;
    margin: -10px auto;
    border-radius: 5px;
    color: #fbf8f8;
    

}


