/* Estilizando, fonte do google*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Criando regars para mobilefirts*/
/* Regras gerais do site*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image:url(../img/hypnotize.png);
     background-size: cover;
    background-attachment: fixed;
}
img{
    width: 100%;
}
 #topo{
    background-color: rgba(24,56,29,0.9);
    border-bottom: solid 1px black;
    text-align: center;
    margin-bottom: 15px;
 }
 h1 img{
    margin-top: 25px;
    width:200px;
 }

 nav{
    min-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    padding-left: 1%;
 }
 
